<%- include('partials/header'); -%>
<h1 style="text-align: center;">Recipies Of The Year</h1><br>
<div class="row" style="display: flex; flex-wrap: wrap;">
    <% recipiess.forEach(function(recipie){ %>
        <div class=" row " style="margin: auto;">
            <div class="thumbnail container " style="text-align: start;">
                <img class="card-img-top" src="<%=  recipie.image %>" alt="Card image cap" style="align-items: flex-start; width: 400px; height: 250px;">
                <div class="caption" style="text-align: center;">
                    <h5><%= recipie.name %></h5>
                    <a href="/recipies/<%=recipie._id %>" class="btn btn-info">View Full Recipie</a><hr>
                </div>
            </div>
        </div>
    <% }) %>
</div> 
<%- include('partials/footer'); -%>
