<%- include('partials/header'); -%>
<h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif">Home made recipes</h1><br>
<div  id="card-container"class="container">
    <div class="row">
    <% recipes.forEach(function(recipe){ %>
        <div class="col-sm-4 py-3 ">
            <div class="card box-shadow">
                <img class="card-img-top" src="<%= recipe.image.url %>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%= recipe.name %></h5>
                  <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">View full recipe</a>
                </div>
            </div>
        </div>
    <% }); %>
    </div>
</div>
<%- include('partials/footer'); -%>
<style>
    img {
       height: 312px;
    }
    #card-container{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .box-shadow{
       box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    }  
</style>


